<!--
/*---------------------------------------------------------------------------------------------
*  Copyright (c) Microsoft Corporation. All rights reserved.
*  Licensed under the MIT License. See License.txt in the project root for license information.
*--------------------------------------------------------------------------------------------*/
@author: Babak Naderi
-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" />
<style type="text/css">body{
    font-family:Tahoma,"Times New Roman", Times, serif;
    font-size: 15px;
    }

.table th, .table td {
     border-top: none !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.panel-body {
    padding-top: 30px;
}
/*
.baudio {margin:5px;}
.baudio .baudio_table{display: inline;}
.baudio .bn{margin:10px;}
.baudio td{text-align:center;}
.baudio .blabel{margin-top:50px;font-size: 70%;	color: #636363;}*/

.scale {font-size: 100%;}
.scale td { text-align: left; padding:0;}
.scale label { display:block;}
.scale .c { text-align: center;}
section {
	margin-bottom:15px;
	padding: 10px 10px;
	font-family: Verdana, Geneva, sans-serif;
	color:#333333;
	font-size:0.9em;
}
fieldset { padding: 10px; background:#fbfbfb; border-radius:5px; margin-bottom:5px; }

/* Design Instructions*/

figure {
    margin:auto;
    margin:20px;
    padding: 4px;
}

figure .inst-plot {
    margin-top:0px;
    margin-bottom:20px;
    max-height:500px;
    max-width:100%;
    display:block;
    margin-right:auto;
    margin-left:auto;
}
figcaption {
    background-color: #F5F5F5;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#gradient-red{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #F5F5F5;
    background-color:rgb(255, 0, 80);
    background-image: linear-gradient(to right,rgb(255, 0, 80),white);
    /*margin-right:auto;
    margin-left:auto;*/
}

#gradient-blue{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #F5F5F5;
    background-color:rgb(0, 143, 248);
    background-image: linear-gradient(to right,rgb(0, 143, 248),white);
    /*margin-right:auto;
    margin-left:auto;*/
}

#instruction_panel p{
    /*font-size: 15px;*/
}

/* Design Training and Test Sessions*/

table td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    vertical-align: middle !important;
}

div .box {
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.box p,.box span  {
    margin-bottom: 0px;
}
.plot {
    margin-top:10%;
    margin-bottom:5%;
    max-height:500px;
    max-width:100%;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

#alert_box{
    /*position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
	text-align:center;*/
    display:none;
}

.classification .box.blocked{
	background: black;
	color: black;
}

.classification .box.visible{
	background: white;
	color: black;
}

.showme{
	//float: right;
}

.classification{
	//background: green;
}
</style>
<script type="text/javascript">

/*
General configuration file:
  - cookieName: change it for each study, it will be used to monitor if the user has taken training, setup sections, and
 how many assignments they submitted to expose limits.
 - qualificationCookieName: name of cookie that shows the status of qualification section.
 - qualificationValidFor: how long the qualification cookie stay in minutes (43200 : 1 month)
 - forceRetrainingInHours: every X hours force the user to take part in training (recommendation: 1hour)
 - showSetupEveryMinutes: show the setup section every X minutes (recommendation: 15 minutes)
 - questionUrls: URLs to clips to be appeared in the Rating section. Either hard-coded or placeholders.
 - trainingUrls: URLs to clips to be appeared in the Training section. Either hard-coded or placeholders.
 - knownQuestionInTrainingUrl: Training may contain a question with known answer which worker will be forced to give the
 correct answer to.
 - knownQuestionInTrainingAns: the answer that should be selected by worker
 - knownQuestionUrl: the rating section may contain a question with known answer. It will be used in combination of the
 Assignment Review Policy.
 - knownQuestionAns: the answer that we expect from worker
 - randomizeTrainingQuestions: boolean whether the questions in the training section should be randomized on loading time.
 - randomizeRatingQuestions: boolean whether the questions in the rating section should be randomized on loading time.
 - allowedMaxHITsInProject: How many HITs each worker is allowed to answer in this project
 - allowedMaxContinuesSessionDurationInMinutes: how log is the maximum continue session. A break of 10min will be forced
 -num1..5 :s0..4
*/
var config ={
	cookieName:"21-02-05_feedback_4_XAI_v2",
	qualificationCookieName:"21-02-05_feedback_4_XAI_v2",
	qualificationValidFor:43200,
    forceRetrainingInHours:1,//0.125 for 7.5 minutes
    showSetupEveryMinutes:1,
    debug:"true",
    
    /*Question Urls with New AMT CSV variables for sentences and outputs*/
   
    questionUrls: [["${Q0}","${S0}","${O0}"], ["${Q1}","${S1}","${O1}"], ["${Q2}","${S2}","${O2}"], ["${Q3}","${S3}","${O3}"], ["${Q4}","${S4}","${O4}"], ["${Q5}","${S5}","${O5}"], ["${Q6}","${S6}","${O6}"], ["${Q7}","${S7}","${O7}"], ["${TP}","${STP}","${OTP}"], ["${gold_clips}","${Sgold_clips}","${Ogold_clips}"]],
	
		
    trainingUrls: [['Plots/Bar/Train/B_M1_Cl1Tr0.png', 'One of the most... Attention, choose the answers as follows to show you are concentrated: for the first question select Negative, for the second, Confident, for the third, Agree, and for the last, Fair.','Positive'], 
                    ['Plots/Bar/Train/B_M1_Cl1Tr1.png', 'I\'ve never seen a film that is so patetic.','Negative'], 
                    ['Plots/Bar/Train/B_M1_Ul3Tr11.png', 'Oh, how I laughed during those first couple of scenes. I have to admit that it is a great comedy, but it wasn\'t intended to be a comedy, it was intended as a social drama. I\'m still confused.','Negative'], 
                    ['Plots/Text/Train/T_M1_Cl1Tr1.png','I\'ve never seen a film that is so patetic.','Negative'], 
                    ['Plots/Text/Train/T_M1_Ul3Tr11.png', 'Oh, how I laughed during those first couple of scenes. I have to admit that it is a great comedy, but it wasn\'t intended to be a comedy, it was intended as a social drama. I\'m still confused.','Negative'], 
                    ['Plots/Text/Train/T_M2_Ul3Tr9.png', 'I enjoyed the twists and turns in the plot of the film. The costumes and attention to detail was remarkable for its time. However, I disagree in the way they characterize the inhabitants of the feudal village.', 'Negative']//this is a gold question in training
                    ],
	
    /*Uncomment to see in the browser*/
    /*questionUrls: [['Plots/Bar/Train/B_M1_Cl2Tr7.png', 'For a thriller you\'d better deliver more than name actors and talk. The first third of this movie was nothing but talk, and more talk.', 'Negative'], 
                    ['Plots/Bar/Train/B_M1_Cl1Tr1.png','I\'ve never seen a film that is so patetic.','Negative'], 
                    ['Plots/Bar/Train/B_M3_Ul3Tr11.png','Oh, how I laughed during those first couple of scenes. I have to admit that it is a great comedy, but it wasn\'t intended to be a comedy, it was intended as a social drama. I\'m still confused.','Positive'],
                    ['Plots/Text/Train/T_M1_Cl1Tr1.png', 'I\'ve never seen a film that is so patetic.','Negative'],
                    ['Plots/Text/Train/T_M3_Ul3Tr11.png', 'Oh, how I laughed during those first couple of scenes. I have to admit that it is a great comedy, but it wasn\'t intended to be a comedy, it was intended as a social drama. I\'m still confused.','Positive'],
                    ['Plots/Text/Train/T_M1_Cl2Tr7.png', 'For a thriller you\'d better deliver more than name actors and talk. The first third of this movie was nothing but talk, and more talk.', 'Negative'],
                    ['Plots/Bar/Train/B_M1_Cl1Tr0.png', 'Attention, choose the answers as follows: Q x.1 - Negative; Q x.2 - Confident; Q x.3 - Agree; and Q x.4 - Fair','Positive'],
                    ['Plots/Text/Train/T_M1_Cl1Tr0.png', 'One of the most funny movies I\'ve ever watched.', 'Positive']
                    ],*/
    knownQuestionInTrainingUrl:'Plots/Bar/Train/B_M1_Cl1Tr0.png',
    knownQuestionInTrainingAns1: "0",
    knownQuestionInTrainingAns2: "4",
    knownQuestionInTrainingAns3: "4",
    knownQuestionInTrainingAns4: "3",
    knownQuestionUrl:"${TP}",
    knownQuestionAns1: "${TP_ANS1}",
    knownQuestionAns2: "${TP_ANS2}",
    knownQuestionAns3: "${TP_ANS3}",
    knownQuestionAns4: "${TP_ANS4}",
    /*knownQuestionUrl:"Plots/Bar/Train/B_M1_Cl1Tr0.png",
    knownQuestionAns1: "0",
    knownQuestionAns2: "4",
    knownQuestionAns3: "4",
    knownQuestionAns4: "3",*/
    goldClipURL:"${gold_clips}",
    goldClipAns:"${gold_clips_ans}",
    /*goldClipURL:"Plots/Text/Train/T_M1_Cl1Tr0.png",
    goldClipAns:"1",*/
    randomizeTrainingQuestions:"true",
    randomizeRatingQuestions:"true",
    allowedMaxHITsInProject:18,
	allowedMaxContinuesSessionDurationInMinutes:45,
	qualification:{
		mother_tongue: ["english","en"],
        colorblind: "N"
	}
}

// if performing of this assignment is already counted
var hitCounterIncreased = false;
// record the errors happened in the page
var generalErrorLog= "";

// how many times a feedback was given to the workers,
var n_cmp_feedbacks = 0;

const Hide_HIT_REASON = Object.freeze({"MAX_ACHIVED":1, "QUALIFICATON":2})


/*
Initializing the page: generate and hide sections depending to the cookies value
*/
$(function() {
	try{
		// disable logs if not debug
		if (!JSON.parse(config['debug'])){
			console.log = function() {};
		}
		loadTextPlaceHolders();
		generate_training_section();
		generate_rating_section();
		//avoidAnsweringBeforeListeningThrough();
		cookie_debug_status="";
		// given cookie availability disable the qualification
		qual_passed= readCookie(config['qualificationCookieName']);
		console.log(qual_passed);

		if (qual_passed!==null && qual_passed=="true"){
			$('.qualificationFieldset').prop("disabled", true);
			$("#qualification").hide();
			$("#qualification :input").removeAttr("required");
			cookie_debug_status=cookie_debug_status+"ACR_LISTENER Exist*";
		}
		// given cookie availability disable the training
		if (readCookie(config['cookieName']+"_training")){
			$('.trainingFieldset').prop("disabled", true);
			$("#training").hide();
			$("#training :input").removeAttr("required");
			$('#direction').collapse()
			cookie_debug_status=cookie_debug_status+"Train Exist*";
		}

		hit_num = readCookie(config['cookieName']+"_counter");
		howManyHITsAnswered =0;
		if (hit_num != null ){
			howManyHITsAnswered= Number(hit_num);
			if (howManyHITsAnswered >= config['allowedMaxHITsInProject']){
				disableTheHIT(Hide_HIT_REASON.MAX_ACHIVED);
			}
		}
		if ((qual_passed!==null) && (qual_passed=="false")){
			disableTheHIT(Hide_HIT_REASON.QUALIFICATON);
		}

		hitCounterIncreased = false;
		cookie_debug_status=cookie_debug_status+"Counter:"+howManyHITsAnswered+"*";
		addBrowserInfo(cookie_debug_status);


		// for qualification section
		initializeQualification();
		initializeActivePageMonitoring();
		//cmp_check_on_load();
	}catch(err){
		console.error(err);
		recordError(err.name,err.message);

	}
});

var overAllHiddenTime = 0;
var startHiddenDate = null;
var sessionId = null;
var sessionIdVariableName=null;
/**
	monitor and record the status of page including being focus, and active time

**/
function initializeActivePageMonitoring(){
	sessionId = Math.random().toString(36).substr(2, 9);
	sessionIdVariableName = config.qualificationCookieName +"_sid";
	createCookie(sessionIdVariableName,sessionId,70);

	document.addEventListener("visibilitychange", function() {
		var isHidden = document.hidden;
		if (isHidden){
			startHiddenDate = new Date();
		}else{
			//get back the focus
			stopHiddenDate = new Date();
			diff = stopHiddenDate -startHiddenDate;
			overAllHiddenTime = overAllHiddenTime + diff;
			$('#time_page_hidden_sec').val(overAllHiddenTime/1000);
		}
		console.log( "document_hidden: "+ document.hidden + "time: "+overAllHiddenTime);

	});
}

/**
	check if there is any parallel session available.
**/
function isAnyParallelSession(){
	hit_num = readCookie(sessionIdVariableName);
	if (hit_num != sessionId){
		$('#any_parallel_session').val("true");
		console.log("parallel session.")
		return true;
	}
	return false;

}

/**
 central method to record errors
**/
function recordError(name, message){
	generalErrorLog =generalErrorLog + " Error "+name+": "+message+";%0D%0A"
	$('#errors').val(generalErrorLog);
	$("#errorEmail").attr("href","mailto:taiane.linhares@fu-berlin.de?subject=Error on HIT Load&body="+generalErrorLog);
	$("#errorSection").show();
}

/*
	Initialize the qualification section
*/
var qualification_ans= new Set();
function initializeQualification(){
    forceNoSpaceInInput();
    $("#qualification :input").on('change', isQualificationDone);
}
/*
	check if the qualification all answered
*/
function isQualificationDone(){
	qualification_ans.add(this.name);
	console.log("check if the qualification is done"+this.name+","+qualification_ans.size);
	validateQualificationAnswer();
	if (qualification_ans.size==13)
		validateQualificationAnswer();
}

/*
	check the qualification passed
*/
function validateQualificationAnswer(){
	m_tongue = $("input[name='3_mother_tongue']").val().toLowerCase().trim();
	m_tongue_check= config.qualification.mother_tongue.includes(m_tongue)

	//working_area_checked= $("input[name='7_working_area']:checked").val() =="N"
    colorblind_checked= $("input[name='4_colorblind']:checked").val() =="N"

	passed= m_tongue_check && colorblind_checked;
	console.log(passed);
	// add a qualification for 'qualificationValidFor' minutes
	createCookie(config.qualificationCookieName,passed,config.qualificationValidFor);
}


/*
	Avoid space in text field
*/
function forceNoSpaceInInput(){
    $(".nospace").on({
          keydown: function(e) {
            if (e.which === 32)
              return false;
          },
          change: function() {
            this.value = this.value.replace(/\s/g, "");
          }
        });
}

/*
Change placeholders inside text with values from config file.
*/
function loadTextPlaceHolders(){
	// update the directions
	$('.max_allowed_hits').html(config['allowedMaxHITsInProject']);
	$('.setup_time').html(config['showSetupEveryMinutes']);
	$('.training_time').html(config['forceRetrainingInHours']);

}

/*
Store the following information in hidden input field which will be added to answerc.sv by AMT
userAgent, cookieEnabled, appVersion, platform, language, status of 3 cookies.
*/
function addBrowserInfo(debug){
	info="U_A:"+navigator.userAgent+";"+
		"CookieEnabled:"+navigator.cookieEnabled+";"+
		"AppV:"+navigator.appVersion+";"+
		"Platform:"+navigator.platform+";"+
		"LN:"+navigator.language+";"+
		"cookie_debug:"+debug+";";

	$('#browser_info').val(info);
	console.log(info);

}

//-------- check qual num online
function checkQualNumCorrect(given_ans, correct_hash){
	return btoa(given_ans) == correct_hash;
}
// ------------------------ online check cmp

/*
 check if the answer to a CMP question is correct.
*/
/*
function isCMPAnsCorrect(selected_url){
	// for backward compatibility
	if (!config.hasOwnProperty("correct_cmp_answers"))
		return true;
	b64 = btoa(selected_url);
	return config["correct_cmp_answers"].includes(b64);
}
*/
// add this to onload of page
/*
function cmp_check_on_load(){
	$('#setup').find(':input').filter(':visible').each(function(){
	  $(this).on('change', validateCMPSection);
	});
}
*/
/*
	Validate the answers give to the cmps in the setup section and provide an adequate feedback
*/
/*
function validateCMPSection(){
	// 1. check if all questions are answered
	cmp_answers= [];
	for (i = 1; i < 5; i++) {
		ans = $("input[name='cmp{0}']:checked".f(i)).val();
	  	if (!ans)
	  		return;
	  	cmp_answers.push(ans);
	}
	math_ans = $('#Math').val();
	if (!math_ans)
	  	return;

		// 2. check math question
	// do not check math question now
	// 3. check cmps
	correct_ans = 0 ;
	for (i = 0; i < 4; i++) {
		if (cmp_answers[i] == "o")
			continue;
		url = $('span[id="CMP{0}_{1}"]'.f(i+1, cmp_answers[i].toUpperCase())).attr("data-src");
		if (config["cmp_correct_answers"].includes(btoa(url)))
			correct_ans ++;
	}
	// 4. shows the message if needed
	if (correct_ans >= config["cmp_correct_answers"])
		// valid response in cmp
		return;
	if (n_cmp_feedbacks <  config["cmp_max_n_feedback"]){
		n_cmp_feedbacks++;
		msg = "Please check your answers in the Setup section again. Make sure to do your task in a quite environment with headset and use both earpods.";
		last_time_msg = " It is the last time you see this feedback."
		if (n_cmp_feedbacks ==config["cmp_max_n_feedback"])
			alert(msg+last_time_msg);
		else
			alert(msg);
	}
	// 4.2 remove the listener
	if (n_cmp_feedbacks >=  config["cmp_max_n_feedback"]){
		$('#setup').find(':input').filter(':visible').each(function(){
	  		$(this).off('change');
		});
	}
}
*/
//--------------- Utilities -----------------

/*
	Utility function to format strings
*/
String.prototype.format = String.prototype.f = function() {
    var s = this,
        i = arguments.length;
    while (i--) {
        s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
    }
    return s;
};

/*
	Utility: convert seconds to MM:SS
*/
String.prototype.toMMSS = function () {
    var sec_num = parseInt(this, 10); // don't forget the second param
    var minutes   = Math.floor(sec_num / 60);
    var seconds = sec_num - (minutes * 60);
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return minutes+':'+seconds;
}

/*
    Get random integer index bigger oder equal min and smaller than max
*/

function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

/*
	Disable the HIS and show a proper message.
	- used when the maximum number of HITs in project is reached
*/
function disableTheHIT(c){
	$("#qualification").hide();
	$("#training").hide();
	$("#setup").hide();
	$("#instruction").hide();
	$("#rating_section").hide();
	$("#Survey").hide();
	$("#thanks").hide();
	$("#device_check_section").hide();

	if (c == Hide_HIT_REASON.MAX_ACHIVED)
		$("#max_allowed_HITs_reached").show();
	if (c == Hide_HIT_REASON.QUALIFICATON)
		$("#qualification_rejected").show();
}

/*
	Add a cookies with corresponding values
*/
function createCookie(name, value, minutes) {
    var expires;
    if (minutes) {
        var date = new Date();
        date.setTime(date.getTime() + (minutes * 60 * 1000));
        expires = date.toGMTString();
    } else {
        expires = "";
    }

    let st =value +";"+ expires ;
    console.log(st);
    localStorage.setItem(name, st);
}

function createCookieOld(name, value, minutes) {
    var expires;
    if (minutes) {
        var date = new Date();
        date.setTime(date.getTime() + (minutes * 60 * 1000));
        expires = "expires=" + date.toGMTString();
    } else {
        expires = "";
    }

    let st = name + "=" + value +";"+ expires + ";path=/";
    console.log(st);
    //document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
    document.cookie = st;
}

/*
	Update the cookie which counts the number of Assignments performed by user. Increase it by "updateBy" value.
*/
function updateCounterCookie(name, updateBy){
	expiry_in_a_month= 30*24*60
	c = readCookie(name);
	if (c==null){
		createCookie(name, 1, expiry_in_a_month);
		return 1;
	}else{
	 	console.log(c);
	 	createCookie(name, Number(c)+updateBy, expiry_in_a_month);
	}
	return Number(c)+updateBy;
}

/*
	Return the value of cookie, or null
*/
function readCookie(name) {
	var storedValue = localStorage.getItem(name);
	if (storedValue){
		let infos = storedValue.toString().split(';');
		let value = infos[0];
		let validUntil = new Date(infos[1]);
		let today = new Date();
		if (today<=  validUntil)
			return value;
		else{
			localStorage.removeItem(name);
			return null;
		}
	}else
		return null;
}

function readCookieOld(name) {
    var nameEQ = name + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var cookies = decodedCookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var c = cookies[i];
        while (c.charAt(0) == ' '){
            c = c.substring(1);
        }
        if (c.indexOf(nameEQ) === 0)
            return c.substring(nameEQ.length, c.length);
    }
    return null;
}


/*
	Callback when "Next" in Rating section is clicked.
*/
function showNextQuestionInRatingSection(){
	var count = $("#nav-tab-ul li").length;
	id=$("#nav-tab-ul li.active").index();
	if (id+2==count){
		$('#next-rating').addClass('disabled');
	}
	id=id+2;
	$('#nav-tab-ul li:nth-child('+id+') a').tab('show');

}

/*
	Callback when "Previous" in Rating section is clicked.
*/
function showPreviousQuestionInRatingSection(){
	id=$("#nav-tab-ul li.active").index();
	id=id;
	$('#nav-tab-ul li:nth-child('+id+') a').tab('show');
	var count = $("#nav-tab-ul li").length;
	if (id+1<=count)
		$('#next-rating').removeClass('disabled');
}

/*
	Callback when "Next" in Training section is clicked.
*/
function showNextQuestionInTrainingSection(){

	var count = $("#trainingTabs li").length;
	id=$("#trainingTabs li.active").index();
	if (id+1!=count){
		id=id+2;
		$('#trainingTabs li:nth-child('+id+') a').tab('show');
	}else{
		// last next is called
		setTimeout(function (){
			window.location.hash="navNextPre";
		},  50);
	}
}

/*
	Callback when "Previous" in Training section is clicked.
*/
function showPreviousQuestionInTrainingSection(){
	id=$("#trainingTabs li.active").index();
	id=id;
	$('#trainingTabs li:nth-child('+id+') a').tab('show');
}


var trainingStimulusPlayed;

/*
  If all training clips played until the end, add a cookie expiring after
  config.forceRetrainingInHours
*/
/*
function playedAudioTraining(id){
	// parallel session check
	isAnyParallelSession();
	$('input[name="'+id+'"]').off('change');
	trainingQuestionNumber= id.substring(1);
	eval("trainingStimulusPlayed["+trainingQuestionNumber+"-1]=1;");
	console.log(trainingStimulusPlayed.reduce(getSum, 0))
	if (trainingStimulusPlayed.reduce(getSum, 0) ==  trainingStimulusPlayed.length){
		createCookie(config['cookieName']+"_training","un_important",config['forceRetrainingInHours']*60);
	}
	if ($('span[id="'+id+'"]').attr("data-src") == config['knownQuestionInTrainingUrl']){
		element = $('input[name="'+id+'"]');
		element.unbind();
		element.on('change', onValueChangeForTpQuestionInTraining);
	}
}
*/



// help to calc the sum of elements in an array
function getSum(total, num) {
  return total + num;
}



/*
	Listener on value change for the Gold question.
	if the answer is correct, change the value of gq_check to 0.
*/
function onValueChangeForGoldQuestion(){
	let ans = $( this ).val()
	let expectedVal = parseInt(config['goldClipAns'])
	if ( expectedVal -1 <=ans && ans <= expectedVal +1 )
		$('#gq_check').val(0);
	else
		$('#gq_check').val(-1);
	console.log($('#gq_check').val())
}

/*
	Listener on value change for the trapping question.
	if the answer is correct, change the value of tp_check to 0.
*/
/*function onValueChangeForTpQuestion(){
	if ($( this ).val()  == parseInt(config['knownQuestionAns']))
		$('#tp_check').val(0);
	else
		$('#tp_check').val(-1);
	//console.log("gc_check"+$('#tp_check').val())
}*/

/*
	Listener on value change for the trapping question in training.
	if the answer is wrong, show a message.
*/
/*function onValueChangeForTpQuestionInTraining(){
	if ($( this ).val()  != config['knownQuestionInTrainingAns']){
		alert('Error: In case you hear an interruption message, please follow the instruction given in the message.');
		$(this).prop('checked', false);
	}

}*/



</script><script type="text/javascript">

/*
	shuffle function for randomization of items -->
*/
function shuffle(a) {
	var j, x, i;
	for (i = a.length - 1; i > 0; i--) {
		j = Math.floor(Math.random() * (i + 1));
		x = a[i];
		a[i] = a[j];
		a[j] = x;
	}
	return a;
}

function alertForbiddenChange(){
	let name = this.name;
	NUMERIC_REGEXP = /[\d]+/g;
	q_id =name.match(NUMERIC_REGEXP).join([]);
	alert('You should first answer Q{0}.1 and Q{0}.2 then click on "Show me" button.'.f(q_id));
	$(this).prop('checked', false);
}

function show_and_hide(item){	
	var idText =item.id;
	var id=idText.substring(10,idText.length);
		
	// first check if q1 & q2 are answerd
	if ($("input[name='prediction_"+id+"']:checked").length==0 ||
	$("input[name='confidence_"+id+"']:checked").length==0){
		alert("First, you need to answer Q1 and Q2");
		return;
	}
		
	// show the outcome
	$("#classification_"+id).removeClass("hide");
	$("#review-output_"+id).removeClass("blocked");
	$("#review-output_"+id).addClass("visible");
	
	// disable the button and Q1, Q2
	$("#"+idText).prop("disabled",true);
	$('input[name=prediction_'+id+"]:not(:checked)").prop("disabled", true);
	$('input[name=confidence_'+id+"]:not(:checked)").prop("disabled", true);	
	
	// enable Q3 and Q4
	//$('input[name=understand_'+id+"]").prop("disabled", false);
	//$('input[name=quality_'+id+"]").prop("disabled", false);
	$('input[name=understand_'+id+"]").unbind();
	$('input[name=quality_'+id+"]").unbind();
	$('input[name=understand_'+id+"]").change( function () {userAnsweringTraining();});
	$('input[name=quality_'+id+"]").change( function () {userAnsweringTraining();});
	
	return false;
}
/*
	Generate the training section
*/
function generate_training_section(){
	acr_nav_tab = '<li class="nav-item {1}"><a class="nav-link " data-toggle="tab"  href="#T{0}-panel" id="T{0}-tab " role="tab" aria-controls="T{0}" {4}>Q. {0}</a></li>';
	acr_tab ='<div class="tab-pane fade {4}" id="T{0}-panel" role="tabpanel" aria-labelledby="T{0}-tab"><p></p>'+
            '<div class="row" style="min-height:250px"> <div class="col-sm-2"></div> <div id="explain-div{0}" class="col-sm-8 h-100"> <h4 class="text-center">Explanation {0} </h4> <img src="{1}" id="plot_t{0}" class="plot" width="auto"/> </div> <div class="col-sm-2"></div> </div> ' +
            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <h4>Review:</h4><div class="box"><p>{2}</p></div> </div> <div class="col-sm-3"></div> <p></p> </div>'+
			'<div class="row"> <div class="col-sm-3"></div>	<div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.1 </strong>Does the explanation indicate a negative or a positive <strong>classification by the computer program</strong>? </p><p align="center"> </p> <fieldset id="fieldset1_t{0}" class="trainingFieldset" title="" name="prediction_t{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Review Sentiment</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="prediction_t{0}" value="0" onchange="userAnsweringTraining()">Negative</label></div></td></tr><tr><td><div class="radio" ><label ><input type="radio" name="prediction_t{0}" value="1" required="">Positive</label></div></td> </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div> <p></p> </div>'+ 
			'<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.2 </strong>How confident are you about your answer to Q {0}.1? </p><p align="center"> </p> <fieldset id="fieldset2_t{0}" class="trainingFieldset" title="" name="confidence_t{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Confidence Level</th><th class="c" >Score</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="confidence_t{0}" value="5">Very Confident</label></div></td><td class="c">5</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_t{0}" value="4">Confident</label></div></td><td class="c">4</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_t{0}" value="3">I don\'t know</label></div></td><td class="c">3</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_t{0}" value="2">Unconfident</label></div></td><td class="c">2</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_t{0}" value="1"required="">Very Unconfident</label></div></td><td class="c">1</td></tr>	   </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div> <p></p> </div>' +
            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"><h4>Actual  classification:</h4>'	+ 
			
			'<div class="row classification"> <div class="box blocked" id="review-output_t{0}"><p class= "hide" id = "classification_t{0}">{3}</p><span>&nbsp;</span></div><div style="text-align: center;"><span class="showme"><button id="show_hide_t{0}"type="button" class="btn btn-primary" onclick= "show_and_hide(this);">Show me</button></span></div>'+
			'</div> <div class="col-sm-3"></div> <p></p> </div> </div>'+
			'<div id="part2_t{0}">'+
			
			
            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.3 </strong>Indicate the degree to which you agree or disagree with this sentence: </p><br><p><em>Given the explanation, <strong>I understand exactly why </strong>the review was classified this way.</em></p><p align="center"> </p> <fieldset id="fieldset3_t{0}" class="trainingFieldset" title="" name="understand_t{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Level of Understanding</th><th class="c" >Score</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="understand_t{0}" value="5">Strongly Agree</label></div></td><td class="c">5</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_t{0}" value="4">Agree</label></div></td><td class="c">4</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_t{0}" value="3">Neither Agree nor Disagree</label></div></td><td class="c">3</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_t{0}" value="2">Disagree</label></div></td><td class="c">2</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_t{0}" value="1"required="">Strongly Disagree</label></div></td><td class="c">1</td></tr>	   </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div> <p></p> </div>' +
            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.4 </strong>How do you rate the <b>overall quality</b> of the explanation above? </p><p align="center"> </p> <fieldset id="fieldset4_t{0}" class="trainingFieldset" title="" name="quality_t{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Quality of Explanation</th><th class="c" >Score</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="quality_t{0}" value="5">Excellent</label></div></td><td class="c">5</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_t{0}" value="4">Good</label></div></td><td class="c">4</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_t{0}" value="3">Fair</label></div></td><td class="c">3</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_t{0}" value="2">Poor</label></div></td><td class="c">2</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_t{0}" value="1"required="">Bad</label></div></td><td class="c">1</td></tr>	   </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div></div> <p></p> </div>'+
			'</div>';
	// this will show which url was shown by in which question as their orther will be randomized
	input_template= '<input id="T{0}_URL" name="T{0}_URL" type="hidden" value="{1}" />';
    //margin-top:10%;margin-bottom:5%;max-height:300px;max-width:100%;display:block;margin-right:auto;margin-left:auto;
    if (JSON.parse(config['randomizeTrainingQuestions'])){
		urls = shuffle(config['trainingUrls']);
	}
    else{
		urls = config['trainingUrls'];
    }

	var i;
	for (i = 0; i < urls.length; i++) {
        
		if (i==0){
			$('#trainingTabs').append(acr_nav_tab.f(i+1,'active', 'ria-selected="true"'));
			$('#nav-tabContent').append(acr_tab.f(i+1, urls[i][0], urls[i][1], urls[i][2], 'in active'));
		}else{
			$('#trainingTabs').append(acr_nav_tab.f(i+1,'',''));
			$('#nav-tabContent').append(acr_tab.f(i+1, urls[i][0], urls[i][1], urls[i][2], ''));
		}
		$('#nav-tabContent').append(input_template.f(i+1, urls[i][0], urls[i][1], urls[i][2]));


        //alert in case of wrong trap question answer


        if (urls[i][0] == config['knownQuestionInTrainingUrl']){
            alert_div = '<div id="alert_box" class="alert alert-warning" data-alert="alert">Make sure you analyzed the plot and read the review <strong> carefully </strong>!<button type="button" class="close" data-dismiss="alert" aria-label="Close">    <span aria-hidden="true">&times;</span>  </button></div>';
            num = (i+1).toString();
            explain_div = '#explain-div'+num;
            $( explain_div ).append(alert_div);
            pred = "input[type=radio][name="+"prediction_t"+num+"]";
            conf = "input[type=radio][name="+"confidence_t"+num+"]";
            qual = "input[type=radio][name="+"quality_t"+num+"]";
            unde = "input[type=radio][name="+"understand_t"+num+"]";

            $( pred ).change(
                function() {
                    if (this.checked && this.value != config['knownQuestionInTrainingAns1']) {
                        $('#alert_box').fadeIn();
                        $('html, body').animate({
                            scrollTop: $("#alert_box").offset().top - 100
                            }, 1000);
                    }    
                });

            $( conf ).change(
                function() {
                    if (this.checked && this.value != config['knownQuestionInTrainingAns2']) {
                        $('#alert_box').fadeIn();
                        $('html, body').animate({
                            scrollTop: $("#alert_box").offset().top - 100
                            }, 1000);
                    }    
                });
            
            $( unde ).change(
                function() {
                    if (this.checked && this.value != config['knownQuestionInTrainingAns3']) {
                        $('#alert_box').fadeIn();
                        $('html, body').animate({
                            scrollTop: $("#alert_box").offset().top - 100
                            }, 1000);
                    }
                });
            $( qual ).change(
                function() {
                    if (this.checked && this.value != config['knownQuestionInTrainingAns4']) {
                        $('#alert_box').fadeIn();
                        $('html, body').animate({
                            scrollTop: $("#alert_box").offset().top - 100
                            }, 1000);
                    }
                });
        }
        
        //end alert
    }
	$('.question_number_training').html(urls.length);
	trainingStimulusPlayed = new Array(urls.length).fill(0);
		
	$('div[id^="part2_t"] :input').on('change', alertForbiddenChange);
	$('#nav-tabContent :input').change( function () {userAnsweringTraining();});
}

/*
	Create cookies when user answers training phase
*/

function userAnsweringTraining(){
	console.log("userAnsweringTraining");
	n_training_urls = config['trainingUrls'].length;
	console.log($("input[name^='prediction_t']:checked").length)
	if ($("input[name^='prediction_t']:checked").length==n_training_urls &&
	$("input[name^='confidence_t']:checked").length==n_training_urls &&
	$("input[name^='understand_t']:checked").length==n_training_urls &&
	$("input[name^='quality_t']:checked").length==n_training_urls){
		console.log("all training questions are answered");
		createCookie(config['cookieName']+"_training","un_important",config['forceRetrainingInHours']*60)
	}
}

/*
	Generate rating section
*/
function generate_rating_section(){
	acr_nav_tab = '<li class="nav-item {1}"><a class="nav-link" data-toggle="tab" href="#Q{0}-panel" id="Q{0}-tab" role="tab" aria-controls="Q{0}" {4}>Q. {0}</a></li>';
	acr_tab ='<div class="tab-pane fade {4}" id="Q{0}-panel" role="tabpanel" aria-labelledby="q{0}-tab"> <p></p>'+ 
            '<div class="row" style="min-height:250px"> <div class="col-sm-2"></div> <div class="col-sm-8 h-100">  <h4 class="text-center">Explanation {0} </h4> <img src="{1}" id="plot_q{0}" class="plot" width="auto"/>  </div> <div class="col-sm-2"></div> </div> '+
            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <h4>Review:</h4><div class="box"><p>{2}</p></div> </div> <div class="col-sm-3"></div> <p></p> </div>'+
			'<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.1</strong> Does the explanation indicate a negative or a positive <strong>classification by the computer program</strong>? </p><p align="center"> </p> <fieldset id="fieldset_q{0}" title=" "name="prediction_q{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Review Sentiment</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="prediction_q{0}" value="0">Negative</label></div></td></tr><tr><td><div class="radio" ><label ><input type="radio" name="prediction_q{0}" value="1" required="">Positive</label></div></td> </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div> <p></p> </div>'+ 
			'<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.2</strong> How confident are you about your answer to Q {0}.1? </p><p align="center"> </p> <fieldset id="fieldset2_q{0}" title="" name="confidence_q{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Confidence Level</th><th class="c" >Score</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="confidence_q{0}" value="5">Very Confident</label></div></td><td class="c">5</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_q{0}" value="4">Confident</label></div></td><td class="c">4</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_q{0}" value="3">I don\'t know</label></div></td><td class="c">3</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_q{0}" value="2">Unconfident</label></div></td><td class="c">2</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="confidence_q{0}" value="1"required="">Very Unconfident</label></div></td><td class="c">1</td></tr>	   </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div> <p></p> </div>' +
			'<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <h4>Actual Classification:</h4>'+		
			
			'<div class="row classification"> <div class="box blocked" id="review-output_q{0}"><p class= "hide" id = "classification_q{0}">{3}</p><span>&nbsp;</span></div><div style="text-align: center;"><span class="showme"><button id="show_hide_q{0}"type="button" class="btn btn-primary" onclick= "show_and_hide(this);">Show me</button></span></div>'+
			'</div> <div class="col-sm-3"></div> <p></p> </div> </div>'+
			'<div id="part2_q{0}">'+

            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.3 </strong>Indicate the degree to which you agree or disagree with this sentence: </p><br><p><em>Given the explanation, <strong>I understand exactly why</strong> the review was classified this way.</em></p><p align="center"> </p> <fieldset id="fieldset3_q{0}" title="" name="understand_q{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Level of Understanding</th><th class="c" >Score</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="understand_q{0}" value="5">Strongly Agree</label></div></td><td class="c">5</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_q{0}" value="4">Agree</label></div></td><td class="c">4</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_q{0}" value="3">Neither Agree nor Disagree</label></div></td><td class="c">3</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_q{0}" value="2">Disagree</label></div></td><td class="c">2</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="understand_q{0}" value="1"required="">Strongly Disagree</label></div></td><td class="c">1</td></tr>	   </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div> <p></p> </div>' +
            '<div class="row"> <div class="col-sm-3"></div> <div class="col-sm-6"> <p style="margin-top:10px;"><strong>Q {0}.4 </strong>How do you rate the <b>overall quality</b> of the explanation above? </p><p align="center"> </p> <fieldset id="fieldset4_q{0}" title="" name="quality_q{0}"><table class="table md scale" cellspacing="0" cellpadding="0">			<thead><tr><th >Quality of Explanation</th><th class="c" >Score</th></tr>			</thead>			<tbody><tr><td><div class="radio" ><label ><input type="radio" name="quality_q{0}" value="5">Excellent</label></div></td><td class="c">5</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_q{0}" value="4">Good</label></div></td><td class="c">4</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_q{0}" value="3">Fair</label></div></td><td class="c">3</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_q{0}" value="2">Poor</label></div></td><td class="c">2</td></tr><tr><td><div class="radio" ><label ><input type="radio" name="quality_q{0}" value="1"required="">Bad</label></div></td><td class="c">1</td></tr>	   </tbody></table>		</fieldset><p></p> </div> 	<div class="col-sm-3"></div></div> <p></p> </div>'+
			'</div>';
	
    // this will show which url was shown by in which question as their orther will be randomized
	input_template= '<input id="Q{0}_URL" name="Q{0}_URL" type="hidden" value="{1}" />';
	if (JSON.parse(config['randomizeRatingQuestions'])){
        // shuffles urls depending on plot type
        questionurl = config['questionUrls'];
        ind = (questionurl.length - 2)/2;
        urls1 = shuffle(questionurl.slice(0,ind))
        urls2 = shuffle(questionurl.slice(ind,(questionurl.length - 2)))
        tp = questionurl[(questionurl.length-2)]
        gold = questionurl[(questionurl.length-1)]
        if (Math.round(Math.random()) == 1) {
            urls = [];
            urls = [...urls2,...[gold],...urls1];
        }else{
            urls = [];
            urls = [...urls1,...[gold],...urls2];
        }

        tp_i = getRandomInt(0,urls.length);
        urls.splice(tp_i,0,tp);
        console.log(tp_i)
	}else{
		urls = config['questionUrls'];
        tp_i = urls[(questionurl.length-2)];
	}

	var i;
	for (i = 0; i < urls.length; i++) {
		if (i==0){
			$('#nav-tab-ul').append(acr_nav_tab.f(i+1,'active', 'ria-selected="true"'));
			$('#nav-tabContent-rating').append(acr_tab.f(i+1, urls[i][0], urls[i][1], urls[i][2],'in active'));
		}else{
			$('#nav-tab-ul').append(acr_nav_tab.f(i+1,'',''));
			$('#nav-tabContent-rating').append(acr_tab.f(i+1, urls[i][0], urls[i][1], urls[i][2],''));
		}
		$('#nav-tabContent-rating').append(input_template.f(i+1,urls[i][0], urls[i][1], urls[i][2]));

        if (urls[i][0] == config['goldClipURL']){
            g_num = (i+1).toString();
            g_pred = "input[type=radio][name="+"prediction_q"+g_num+"]";
            var g_ans = 0;

            $( g_pred ).change(
                function() {
                    if (this.checked && this.value != config['goldClipAns']) {
                        g_ans = -1;
                        $('#gq_check').val(g_ans);
                    }
                    else{
                        g_ans = 0;
                        $('#gq_check').val(g_ans);
                    }
                });
        }
	}

    /*Trap question listener changes value if any answer is wrong*/
    
    num = (tp_i+1).toString();
    pred = "input[type=radio][name="+"prediction_q"+num+"]";
    conf = "input[type=radio][name="+"confidence_q"+num+"]";
    qual = "input[type=radio][name="+"quality_q"+num+"]";
    unde = "input[type=radio][name="+"understand_q"+num+"]";
    //var ans = 0;
    var ans = [0,0,0,0];

    $( pred ).change(
        function() {
            if (this.checked && this.value != config['knownQuestionAns1']) {
                //ans = -1;
                ans.splice(0,1,-1)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
            else{
                //ans = 0;
                ans.splice(0,1,0)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
        });

    $( conf ).change(
        function() {
            if (this.checked && this.value != config['knownQuestionAns2']) {
                //ans = -1;
                ans.splice(1,1,-1)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
            else{
                //ans = 0;
                ans.splice(1,1,0)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
        });

    $( unde ).change(
        function() {
            if (this.checked && this.value != config['knownQuestionAns3']) {
                //ans = -1;
                ans.splice(2,1,-1)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
            else{
                //ans = 0;
                ans.splice(2,1,0)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
        });

    $( qual ).change(
        function() {
            if (this.checked && this.value != config['knownQuestionAns4']) {
                //ans = -1;
                ans.splice(3,1,-1)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
            else{
                //ans = 0;
                ans.splice(3,1,0)
                //console.log(ans)
                //$('#tp_check').val(ans);
                $('#tp_check').val(Math.min(...ans));
                //console.log($('#tp_check').val())
            }
        });

    /* End trap questions listener*/

	$('.question_number').html(urls.length);
	$('div[id^="part2_q"] :input').on('change', alertForbiddenChange);

}
</script><!--    Error -->
<section class="container" hidden="" id="errorSection">
<div class="alert alert-danger" role="alert">
<h5>Error</h5>

<p>One or more errors are detected during loading this HIT. Please use the following link to send the error to us: <a class="email" href="" id="errorEmail" title="Email in HIT">Email</a>.</p>

<p><b>Meanwhile, please return this HIT and try another one</b>.</p>
</div>
</section>
<!-- Directions -->

<section class="container" id="Survey">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title"><a data-target="#direction" data-toggle="collapse">Directions for explanation quality assessment</a></h3>
</div>

<div class="panel-collapse collapse in" id="direction">
<div class="panel-body">
<h4>Introduction</h4>
<img alt="scale" class="center" src="IMG/Design_web_qoe.png" style="width: 70%" />
<p>Welcome! You are about to participate in our explanation quality assessment experiment! This HIT has two + two (just every now and then) sections:</p>

<ul>
	<li><b>Qualification (just once):</b> Check if you are eligible to perform these HITs</li>
	<li><b>Instruction:</b> Learn how to read and assess the quality of an explanation</li>
	<li><b>Training (every <b class="training_time"> 0 </b> hour):</b> <b class="question_number_training"> 0 </b> questions, same as &quot;Ratings&quot; but appears just once a day</li>
	<li><b>Rating:</b> Analyze <b class="question_number"> 0 </b> explanation plots, <b>interpret them according to the instruction</b> and give your opinion about their quality.</li>
</ul>

<p>You should follow the below mentioned rules, otherwise your answers will be invalid.</p>
&nbsp;

<h4>Rules</h4>
&nbsp;

<ul>
	<li>You must be a <b>native english speaker</b> and have <b>no vision impairment</b> in order to accept this HIT.</li>
	<li>You must <b>analyze the whole plot and read the sentences</b> till the end before answering the questions.</li>
</ul>
&nbsp;

<h4>Payment</h4>
&nbsp;

<p>The result of this experiment is <b>very important for us and other scientists</b> working in this area. We have methods that analyse the consistency of your answers. We will use these methods to rank the submitted assignments according to quality.</p>

<p>For this experiment, we will pay a base reward of <b>$0.70/HIT</b> for every accepted HIT. We have made available a set of <b class="max_allowed_hits">0 </b> different HITs. You will receive a bonus of:</p>

<ul>
	<li>$0.1/HIT (for a total of <b>$0.80/HIT</b>) if you submit <b>more than 10 HITs</b> or</li>
	<li>$0.2/HIT (for a total of <b>$0.90/HIT</b>) if you submit <b>more than 10 HITs</b> <u>and</u> be in the <b>top 20% quality group</b>.</li>
</ul>

<p>Bonuses will be assigned with in 7 days.</p>
<b>Please perform up to <b class="max_allowed_hits"> 0 </b> HITs from this group. If you do more than that, the <u>rest will be rejected.</u></b></div>
</div>
</div>
</section>
<!-- Qualification -->

<section class="container" id="qualification">
<div class="row col-xs-12 col-md-12">
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title"><a data-toggle="collapse" href="#collapse1">Qualification - Just once</a></h3>
</div>

<div class="panel-collapse collapse in" id="collapse1">
<div class="panel-body">
<fieldset class="qualificationFieldset"><label>1.&nbsp;What is your gender?</label>

<div class="radio"><label><input name="1_gender" required="" type="radio" value="M" />Male</label></div>

<div class="radio"><label><input name="1_gender" type="radio" value="F" />Female</label></div>

<div class="radio"><label><input name="1_gender" type="radio" value="O" />Other</label></div>
</fieldset>

<fieldset class="qualificationFieldset"><label>2.&nbsp;In what year were you born? </label>

<div class="form-group"><input class="form-control" name="2_birth_year" required="" type="text" /></div>
</fieldset>

<fieldset class="qualificationFieldset"><label>3.&nbsp;What is your mother tongue? </label>

<div class="form-group"><input class="form-control" name="3_mother_tongue" required="" type="text" /></div>
</fieldset>

<fieldset class="qualificationFieldset"><label>4.&nbsp;Do these two color wheels look the same to you?</label>

<div><img src="IMG/colorblindness_wheel.jpg" /></div>

<div class="radio"><label><input name="4_colorblind" required="" type="radio" value="Y" />Yes</label></div>

<div class="radio"><label><input name="4_colorblind" type="radio" value="N" />No</label></div>
</fieldset>
</div>
</div>
</div>
</div>
</section>
<!-- Instructions-->

<section class="container" id="instruction">
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title"><a data-target="#instruction_panel" data-toggle="collapse">Instruction</a></h3>
</div>

<div class="panel-collapse collapse in" id="instruction_panel">
<div class="panel-body">
<div class="row">
<div class="col-sm-1">&nbsp;</div>

<div class="col-sm-10">
<p style="border:1px;border-style:solid;padding:10px;border-radius:4px;">In this HIT we will present movie reviews to you. We used a computer program (P1) to classify them as <strong>positive or negative reviews</strong>. Actually, we don&#39;t know how this program works, but we have another program (P2), which explains us the decision-making process by generating <strong>explanations</strong>:</p>

<figure><img alt="The explanation process" class="inst-plot" max-width="1280px" src="IMG/explanation_algo.gif" /> <figcaption>The program P1 classifies our movie review. In the sequence program P2 explains the classification.</figcaption></figure>
&nbsp;

<h5 class="text-center">Your goal is to help us distinguishing between good and bad explanations.</h5>
<br />
<br />
<br />
&nbsp;
<h4>This is how explanations for a movie review look like</h4>
&nbsp;

<p>The explanations for the following movie review look like these:</p>
&nbsp;

<h4>Review:</h4>
&nbsp;

<p style="display:inline;border:0.5px;border-style:solid;padding:10px;border-radius:4px;">I&#39;ve never seen a film that is so patetic.</p>

<figure><img alt="A bar-plot explanation" class="inst-plot" src="Plots/Bar/Train/B_M1_Cl1Tr1.png" /> <img alt="A bar-plot explanation" class="inst-plot" src="Plots/Text/Train/T_M1_Cl1Tr1.png" /> <figcaption>These are explanations for the review: &quot;I&#39;ve never seen a film that is so patetic&quot;.</figcaption></figure>
&nbsp;

<h4>Can you figure out how explanations work?</h4>
&nbsp;

<p>The <strong>explanation plot</strong> shows us which words contribute to the movie review being classified as <strong>positive or negative</strong>.</p>

<p>Each sentiment is represented by a different color: positive sentiment is expressed with red and negative sentiment with blue.</p>
&nbsp;

<figure>
<div class="row">
<div class="col-sm-2">
<div class="row" style="height:50px">
<h5 class="text-center">Positive</h5>
</div>

<div class="row">
<h5 class="text-center">Negative</h5>
</div>
</div>

<div class="col-sm-9">
<div class="row">
<div id="gradient-red">&nbsp;</div>
</div>

<div class="row">
<div id="gradient-blue">&nbsp;</div>
</div>
</div>

<div class="col-sm-1">&nbsp;</div>
</div>
<figcaption>A positive sentiment is indicated by the color red, while blue stands for negative.</figcaption></figure>
&nbsp;

<h5><em>There are two types of explanation plots in this HIT: <strong>bar plots</strong> and <strong>text plots</strong>.</em></h5>

<h3 style="margin-top:50px">Bar Plots</h3>

<p>In the bar plot the words that influence the decision are shown from the most important in the top to the less important in the bottom.</p>

<figure><img alt="A bar plot explanation" class="inst-plot" src="IMG/Gif_plots_bar_720.gif" /> <figcaption>In the bar plot explanation the <strong>length of the bars</strong> shows the importance of each word to the review classification.</figcaption></figure>

<h3 style="margin-top:50px">Text Plots</h3>

<p>In the text plot the color opacity indicates the importance of each word to the decision. The opaquer word is the most relevant one.</p>

<figure><img alt="A text plot explanation" class="inst-plot" src="IMG/Gif_plots_text_720.gif" /> <figcaption>In the text plot explanation the <strong>color opacity</strong> shows the importance of each word to the review classification.</figcaption></figure>
&nbsp;

<div class="alert alert-warning" role="alert">
<h4>Computer Programs may also commit mistakes</h4>
&nbsp;

<p>We want you to <strong>interpret the explanations, DO NOT CORRECT THE MISTAKES</strong> made by our computer program.</p>

<figure><img alt="A text plot for a negative review classification" class="inst-plot" src="IMG/do_not_correct_mistakes.jpg" /> <figcaption>This is an explanation for a <strong>negative movie review</strong>, even if you think the review was meant as positive.</figcaption></figure>
</div>

<h3 style="margin-top:50px">Task</h3>

<div class="alert alert-info" role="alert"><strong>Note</strong>: after pressing this button <b>you cannot change the answers</b> to the first two questions.</div>

<ol>
	<li>
	<p>Analyze an explanation plot.</p>
	</li>
	<li>
	<p>Read the review.</p>
	</li>
	<li>
	<p>Answer the first two questions:</p>
	&nbsp;

	<p>Here we want you to interpret the explanation plot, even if you disagree with the classification.</p>

	<p>In a scale from very confident to very unconfident, say how certain you feel.</p>

	<ul>
		<li><strong>Q x.1</strong>: <em>Does the explanation indicate a negative or a positive classification by the computer program?</em></li>
		<li><strong>Q x.2</strong>: <em>How confident are you about your answer to Q1?</em></li>
	</ul>
	</li>
	<li>
	<p>Press the Button to see the actual classification.</p>
	</li>
	<li>
	<p>Answer the last two questions:</p>
	&nbsp;

	<p><u>Given the explanation, <strong>I understand exactly why</strong> the review was classified this way.</u></p>

	<p>Indicate if you understood why the computer program classified the review the way it did.</p>

	<p>In a scale from excellent to bad, give your opinion about the quality of the explanation.</p>

	<ul>
		<li><strong>Q x.3</strong>: <em>Indicate the degree to which you agree or disagree with this sentence:</em></li>
		<li><strong>Q x.4</strong>: <em>How do you rate the overall quality of the explanation above?</em></li>
	</ul>
	</li>
</ol>

<h3 style="margin-top:50px">FAQ</h3>

<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
<div class="panel panel-default">
<div class="panel-heading" id="headingTwo" role="tab">
<h4 class="panel-title"><a aria-controls="collapseTwo" aria-expanded="true" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button">Why does the sentiment attributed to a word change from review to review? </a></h4>
</div>

<div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
<div class="panel-body">
<p>Whether a word is evidence to a positive or negative sentiment depends on its relationship to other words in the sentence. That&#39;s why a word as &quot;funny&quot; can contribute to the review being categorized as positive, while in another review the same word contributes to the sentence being interpreted as negative. Besides that, there is always a chance that the review was classified wrongly and the explanation doesn&#39;t show what you would expect. However, we ask you to interpret the explanation instead of correcting it.</p>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="headingThree" role="tab">
<h4 class="panel-title"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button">How do I interpret a bar plot? </a></h4>
</div>

<div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
<div class="panel-body">
<ul>
	<li>
	<p>In the bar plot the words that influence the classification are shown vertically in descending order, that is beginning in the top from the most important.</p>
	</li>
	<li>
	<p>The length of the bars describes the importance of each word to the final decision.</p>
	</li>
	<li>
	<p>If the sum of all red bars (positive sentiment) is greater than the sum of all blue bars (negative sentiment), it shows that the movie review was classified as positive.</p>
	</li>
</ul>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" id="headingFour" role="tab">
<h4 class="panel-title"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role="button">How do I interpret a text plot? </a></h4>
</div>

<div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
<div class="panel-body">
<ul>
	<li>
	<p>The text plot merges a color layer into each word in the movie review.</p>
	</li>
	<li>
	<p>The color opacity shows the importance of each word to the final decision.</p>
	</li>
	<li>
	<p>The opaquer the color layer, the biggest is the contribution of the word to the final decision. This is the same to say that the most transparent the color layer, the less important the word will be in the final decision. If the majority of words are layered in opaque red (positive sentiment), it shows that the movie review was classified as positive.</p>
	</li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div class="col-sm-1">&nbsp;</div>
</div>
</div>
</div>
</div>
</section>
<!-- Instructions ends--><!-- Training section, appears once a day-->

<section class="container" id="training">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title"><a data-target="#trainingS" data-toggle="collapse">Training (every <b class="training_time"> 0 </b> hour(s))</a></h3>
</div>

<div class="panel-collapse collapse in" id="trainingS">
<div class="panel-body">
<p>Please answer the following <b class="question_number_training"> 0 </b> subtasks. For each subtask, analyze the explanation plot as advised in the instruction section, read the review and answer the 3 questions. In case the sentence presents directions on how to answer the questions, <strong>please follow the instruction given in the message</strong>.</p>
<!-- will be generated -->

<ul class="nav nav-tabs" id="trainingTabs" role="tablist">
</ul>

<div class="tab-content" id="nav-tabContent">&nbsp;</div>

<div style="margin-top:0px;font-size:90%;text-align:center">Click <b>next</b> to answer all <b class="question_number_training"> 0 </b> questions.</div>

<nav aria-label="..." id="navNextPreT">
<ul class="pager">
	<li class="previous" onclick="showPreviousQuestionInTrainingSection();"><a class="page-link" href="#trainingTabs" role="button"><span aria-hidden="true">&larr;</span>Previous</a></li>
	<li class="next" onclick="showNextQuestionInTrainingSection();"><a class="page-link" href="#trainingTabs" role="button">Next <span aria-hidden="true">&rarr;</span></a></li>
</ul>
</nav>
</div>
</div>
</div>
</section>
<!-- Training section ends-->

<p><input id="tp_check" name="tp_check" type="hidden" value="-1" /> <input id="gq_check" name="gq_check" type="hidden" value="-1" /> <input id="errors" name="errors" type="hidden" value="" /> <input id="browser_info" maxlength="2000" name="browser_info" type="hidden" value="-1" /> <!--<input id="webrtc_raw" name="webrtc_raw" type="hidden" value="-1" maxlength="2000"/>--> <!--<input id="use_headset" name="use_headset" type="hidden" value="-1" />--> <input id="time_page_hidden_sec" name="time_page_hidden_sec" type="hidden" value="0" /> <input id="any_parallel_session" name="any_parallel_session" type="hidden" value="false" /> <!--- Rating task --></p>

<section class="container" id="rating_section">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Ratings</h3>
</div>

<div class="panel-body">
<p>Please answer the following <b class="question_number"> 0 </b> subtasks. For each subtask, analyze the explanation plot as advised in the instruction section, read the review and answer the 3 questions. In case the sentence presents directions on how to answer the questions, <strong>please follow the instruction given in the message</strong>.</p>
<!-- will be generated -->

<ul class="nav nav-tabs" id="nav-tab-ul" role="tablist">
</ul>
<!-- will be generated -->

<div class="tab-content" id="nav-tabContent-rating">&nbsp;</div>

<div style="margin-top:0px;font-size:90%;text-align:center">Click <b>next</b> to answer all <b class="question_number">0</b> questions, then submit your response.</div>

<nav aria-label="..." id="navNextPre">
<ul class="pager">
	<li class="previous" id="prev-rating" onclick="showPreviousQuestionInRatingSection();"><a class="page-link" href="#navNextPre" role="button"><span aria-hidden="true">&larr;</span>Previous</a></li>
	<li class="next" id="next-rating" onclick="showNextQuestionInRatingSection();"><a class="page-link" href="#navNextPre" role="button">Next <span aria-hidden="true">&rarr;</span></a></li>
</ul>
</nav>
</div>
</div>
</section>

<section class="container" id="thanks">
<p>Thanks for your participation. Please perform more HITs from this group when they are available for you.</p>
</section>

<section class="container" hidden="" id="max_allowed_HITs_reached">
<p>&nbsp;</p>

<h2>Well done!</h2>
You performed the maximum number of HITs that you were allowed to.

<p>&nbsp;</p>

<div class="alert alert-danger" role="alert"><img alt="attention" src="https://audiosamplesp808.blob.core.windows.net/p808-assets/img/attention.png" /> <b>NOTE:</b> Performing more HITs than what is explained in the description is forbidden and leads ro rejection of all of your submissions.</div>
</section>

<section class="container" hidden="" id="qualification_rejected">
<p>There is no assignments that match to your profile now. Please try it again in two-weeks time. We thank you for your participation.</p>

<div class="alert alert-danger" role="alert"><img alt="attention" src="https://audiosamplesp808.blob.core.windows.net/p808-assets/img/attention.png" /> <b>NOTE:</b> Any try to perform assignments and neglecting this message is forbidden and leads ro rejection of all of your submissions.</div>
</section>
